p{
    width: 100px;
    height: 100px;
    background-color: cyan;
}

#p1 {
    background-color: brown;
}
#p3{
    background-color: cornflowerblue;
}
#p5{
    opacity: 0.6;
}
#p7{
    opacity: 0.3;
}